:host {
  text-align: center;
  padding: 50px;
  background: #fff3f3;
}

h1 {
  font-size: 3rem;
  color: #ff3b30;
  text-shadow: 2px 2px #1e90ff40;
}

p {
  font-size: 1.3rem;
  color: #444;
  margin-top: 15px;
}

.notfound-img {
  width: 250px;
  margin-top: 25px;
  border: 4px solid #ffcc00;
  border-radius: 50%;
  box-shadow: 0 0 20px #ffcc00aa;
}
